@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

/* top menu and main menu */
* {
	margin: 0;
	padding: 0;
}

.top-menu {
	background-color: #00224e;
	max-height: 35px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.top-nav {
	margin-right: 30px;
}

.top-menu .nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 13px;
}

.top-active {
	border: 2px solid #b0b2d2;
	border-top: none;
	border-bottom: none;
	transition: all 1s ease;
}

.top-active:hover {
	background-color: #b0b2d2 !important;
	color: #001736 !important;
	font-weight: 500;
}

.right .nav-link {
	color: black;
	margin-right: 20px;
}

.nav-link:link {
	text-decoration: none;
}

/* DEPARTMENT MENU */

.menu-bars i {
	color: #001736 !important;
	font-size: 30px !important;
}

.menu {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.left {
	margin-left: 40px;
}

.left img {
	height: 90px;
	width: 270px;
	margin-left: 20px;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right .nav-link {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 5px 5px 2px 5px !important;
}

dropdown-menu .active {
	background-color: #001736 !important;
}

.aviso {
	color: rgb(100, 100, 100) !important;
}

/* HOVER EFECT */

.link {
	display: inline-block;
	position: relative;
	text-decoration: none;
	padding: 10px 0;
	color: #fff;
}

.hover-6:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 50%;
	height: 2px;
	background-color: #ee1111;
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform 0.3s;
}

.hover-6:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 50%;
	height: 2px;
	background-color: #ee1111;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s;
}

.hover-6:hover:before {
	transform: scaleX(1);
}

.hover-6:hover:after {
	transform: scaleX(1);
}

.hover-active:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 50%;
	height: 2px;
	background-color: #ee1111;
	transform: scaleX(1);
	transform-origin: bottom right;
	transition: transform 0.3s;
}

.hover-active:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 50%;
	height: 2px;
	background-color: #ee1111;
	transform: scaleX(1);
	transform-origin: bottom left;
	transition: transform 0.3s;
}

.title-directory {
	text-align: center;
	text-transform: uppercase;
	font-size: 38px;
	color: #f00034;
	margin-bottom: 15px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 600;
}

.trans-fourth-sect {
	border-style: none none solid;
	border-bottom: 1.3px solid #131b253f;
	width: 90%;
	margin: 5px auto 30px auto;
}

.acred-container {
	width: auto;
}

.acred-container .title {
	font-size: 34px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 15px;
	color: #00224e;
}

.acreditation-head tr th {
	font-size: 14px !important;
}

footer {
	margin-top: 100px;
	min-height: 250px;
	background-color: #00224e;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
}

.footer_logo {
	width: 100%;
}

.uaa-links a,
.uaa-links i {
	font-size: 20px;
	color: #fff;
}

.uaa-links div {
	margin-bottom: 20px;
}

.uaa-links div:hover i,
.uaa-links div:hover a {
	color: rgb(81, 206, 255);
}

.uaa-links a:link,
.l-t-wrapper div a:link {
	text-decoration: none;
}

.l-t-wrapper {
	color: #fff;
	font-size: 18px;
}

.l-t-wrapper div a {
	color: #fff;
}

.l-t-wrapper div {
	margin-bottom: 10px;
}

.table-wrap {
	overflow-x: scroll;
}

.paragraph {
	text-align: center;
	font-size: -webkit-calc(0.5vw + 1rem);
	font-size: expression(0.5vw + 1rem);
	font-size: -moz-calc(0.5vw + 1rem);
	font-size: -o-calc(0.5vw + 1rem);
	font-size: calc(0.5vw + 1rem);
	color: rgb(56, 56, 56);
	font-weight: 500;
}
.fa-arrow-left,
.fa-arrow-right {
	color: #ee1111;
}

@media only screen and (max-width: 1600px) {
	.footer_logo {
		width: 75%;
	}
}

@media only screen and (max-width: 990px) {
	.card-wrapper,
	.card-wrapper-2 {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 414px) {
	.card-wrapper,
	.card-wrapper-2 {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 411px) {
	.card-wrapper,
	.card-wrapper-2 {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 992px) {
	.menu .left {
		order: 1 !important;
		text-align: right;
		margin-right: 10px !important;
	}

	.l-t-wrapper div {
		font-size: 14px;
	}
}

@media only screen and (max-width: 770px) {
	.row-container {
		flex-direction: column;
	}

	.right img {
		object-position: center center;
		width: 90vw;
		height: 35vh;
		display: block;
		object-fit: cover;
		object-position: center center;
		margin-top: 20px;
	}
}

/* 
* added
*/
@media only screen and (max-width: 767px) {
	.footer_logo {
		transform: translateX(9px);
		width: 50%;
	}

	.footer-wrapper {
		text-align: center;
	}

	footer {
		padding-top: 30px;
	}
}

@media only screen and (max-width: 650px) {
	.menu {
		flex-direction: column-reverse;
	}

	.menu .right,
	.menu .left {
		align-self: flex-start !important;
	}

	.menu .left {
		text-align: left !important;
		margin-left: -20px !important;
	}

	.menu .right {
		margin-left: 0;
	}
}

@media only screen and (max-width: 400px) {
	.menu .left a img {
		height: 60px !important;
		width: 180px !important;
		margin-left: 30px !important;
	}
}

@media only screen and (max-width: 537px) {
	.menu .left {
		margin-right: 80px !important;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 414px) {
	.links .row .col-md-3 {
		margin-bottom: 20px !important;
	}
}
