@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo|Neuton:800&display=swap');
*{
    margin: 0;
    padding: 0;
}

html, body{
    overflow-x: hidden;
}
.top-menu{
    background-color: #001736;
    max-height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-nav{
    margin-right: 30px;
}
.top-menu .nav-link{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.top-active{
    border: 2px solid #b0b2d2;
    border-top: none;
    border-bottom: none;
    transition: all 1s ease;
}

.top-active:hover{
    background-color: #b0b2d2 !important;
    color: #001736 !important;
    font-weight: 500;
}
.right .nav-link{
    color: black;
    margin-right: 20px;
}

.nav-link:link{
    text-decoration: none;
}

/* DEPARTMENT MENU */

.menu{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}
.left{
    margin-left: 40px;
}

.left img{
    height: 90px;
    width: 270px;
    margin-left: 20px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .nav-link{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 5px 2px 5px !important;
}

/* HOVER EFECT */


.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}

.hover-6:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    height: 2px;
    background-color: #ee1111;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}
.hover-6:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    height: 2px;
    background-color: #ee1111;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.hover-6:hover:before {
transform: scaleX(1);
}
.hover-6:hover:after {
transform: scaleX(1);
}


/*landing page*/
.bg-land{
    background: url("./imgs/BOLETIN-422-2-1024x683.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 110%;
    height: 80vh;
    margin: auto;
    transform: translateY(-7px);
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
}

/*skewed*/
body {margin:0;}
.full-land {
  overflow-x:hidden !important;
}
.land-section {
  display:flex;
  height:100vh;
  margin:0 -10vw;
}

.line-div{
    /* border-top: 1px solid rgb(148, 148, 148); */
    border-top: 1px solid #cc6e88; 
}
.land-section div {
  flex:1;
  height:100%;
  transform:skew(-15deg);
  overflow:hidden;
}
.land-section div + div {
  margin-left:3vh;
}
.land-section div img {
  width:110%;
  height:90%;
  display:block;
  /* optionnal */
  object-fit: cover;
  object-position:center center;
  transform:skew(15deg);
  margin:0 -20%; /* in relation with width */
}

.imgIz{
    opacity: 0.3;
    visibility: hidden;
}

.texto{
    z-index: 999 !important;
    color: #131b25;
    position: absolute;
    top: 40px;
    left: 10vw;
    transform:skew(15deg) !important;
    font-weight: 600;
    font-size: 36px;
    height: 190px !important;
    width: 300px;
    font-family: 'Arvo', serif;
    text-shadow: 1px 1px 3px rgb(128, 128, 128);

}

.der{
    margin-left: -400px !important;
    z-index: -100 !important;
}

.subtitle-land{
    z-index: 999;
    color: #131b25;
    position: absolute;
    top: 40vh;
    left: 17vw;
    transform:skew(15deg) !important;
    width: 270px;
    padding-top: 15px;
    border-top: 1px solid #131b25;
}

.cta{
    z-index: 999;
    color: #131b25;
    position: absolute;
    top: 65vh;
    left: 28vw;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    border-radius: 20px;
    background-color: transparent;
    transform:skew(15deg) !important;
    padding: 8px 30px;
    transition: all 0.5s ease;
    font-weight: 700;
    font-size: 18px;
    background-color: #d30640;
    color: white !important;
    border: 1px solid #fff;
}

.cta:hover{
    box-shadow: 1px 1px 10px black;
    background-color: rgba(255, 255, 255, 0.63);
    border: 2px solid #d30640;
    color: #d30640 !important; 
    
}
.cta:link{
    text-decoration: none;
}