@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Enriqueta:400&display=swap');
*{
    margin: 0;
    padding: 0;
}

html, body{
    overflow-x: hidden;
}
.top-menu{
    background-color: #001736;
    max-height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-nav{
    margin-right: 30px;
}
.top-menu .nav-link{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.top-active{
    border: 2px solid #b0b2d2;
    border-top: none;
    border-bottom: none;
    transition: all 1s ease;
}

.top-active:hover{
    background-color: #b0b2d2 !important;
    color: #001736 !important;
    font-weight: 500;
}
.right .nav-link{
    color: black;
    margin-right: 20px;
}

.nav-link:link{
    text-decoration: none;
}

/* DEPARTMENT MENU */

.menu-bars i{
    color: #001736 !important;
    font-size: 30px !important;
    
}
.menu{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}
.left{
    margin-left: 40px;
}

.left img{
    height: 90px;
    width: 270px;
    margin-left: 20px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .nav-link{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 5px 2px 5px !important;
}

/* HOVER EFECT */


.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}

.hover-6:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    height: 2px;
    background-color: #ee1111;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}
.hover-6:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    height: 2px;
    background-color: #ee1111;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.hover-6:hover:before {
transform: scaleX(1);
}
.hover-6:hover:after {
transform: scaleX(1);
}


.hover-active:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    height: 2px;
    background-color: #ee1111;
    transform: scaleX(1);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.hover-active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    height: 2px;
    background-color: #ee1111;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s;
}


/*landing page*/
/* .bg-land{
    background: url("./imgs/BOLETIN-422-2-1024x683.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 110%;
    height: 80vh;
    margin: auto;
    transform: translateY(-7px);
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
} */

/*skewed*/

.full-land {
    overflow-x:hidden !important;
}
.land-section {
    display:flex;
    height:90vh;
    margin:0 -10vw;
}

.line-div{
    border-top: 1px solid #b1a7a8; 
    z-index:999 !important
}
.land-section div {
    flex:1;
    height:100%;
    transform:skew(-15deg);
    overflow:hidden;
}
.land-section div + div {
    margin-left:3vh;    
}
.land-section div img {
    width:110%;
    height:90%;
    display:block;
    object-fit: cover;
    object-position:center center;
    transform:skew(15deg);
    margin:0 -20%;
}

.imgIz{
    visibility: hidden;
}

.texto{
    z-index: 999 !important;
    color: #131b25;
    position: absolute;
    top: 40px;
    left: 10vw;
    transform:skew(15deg) !important;
    font-weight: 600;
    font-size: 36px;
    height: 190px !important;
    width: 300px;
    font-family: 'Arvo', serif;
    text-shadow: 1px 1px 3px rgb(128, 128, 128);

}

.der{
    margin-left: -400px !important;
    z-index: 1 !important;
}

.subtitle-land{
    z-index: 999;
    color: #131b25;
    position: absolute;
    top: 40vh;
    left: 17vw;
    transform:skew(15deg) !important;
    width: 280px;
    padding-top: 15px;
    border-top: 1px solid #131b25;
}

.cta{
    z-index: 999;
    color: #131b25;
    position: absolute;
    top: 60vh;
    left: 28vw;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    border-radius: 20px;
    background-color: transparent;
    transform:skew(15deg) !important;
    padding: 8px 30px;
    transition: all 0.5s ease;
    font-weight: 700;
    font-size: 18px;
    background: rgb(255,178,80);
    background: linear-gradient(151deg, rgba(255,178,80,1) 0%, rgba(222,0,89,1) 100%);
    color: white !important;
    border: 1px solid #fff;
    transition: all 1s ease !important;
}

.cta:hover{
    box-shadow: 1px 1px 15px rgba(58, 58, 58, 0.466);
    border: 2px solid #d30640;
    text-shadow: 1px 1px 10px black;
}
.cta:link{
    text-decoration: none;
}

/********************* SECOND SECTION PART************** */
.formats-title{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #00173681;
}
/* MODAL FIX */
.modal {
    overflow-y: auto !important;
}

.modal-open {
    overflow: auto !important;
}

.modal-open[style] {
    padding-right: 0px !important;
}
.third-section{
    margin-top: -20px;
}
.adjust{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-3 a:link{
    text-decoration: none;
}

.info-container{
    color: black;
    width: 134px;
    transition: all 1s ease-in;
    text-align: center;
}

.info-container:link{
    text-decoration: none;
}
.info-container-1{
    min-width: 133px !important;
    min-height: 134px !important;
}
.icon-container{
    border: 7px solid #b0b2d257;
    padding: 35px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.icon-container-1,.icon-container-2,
.icon-container-3,.icon-container-4{
    transition: all 0.7s ease-out;
}


.icon-container-1:hover{
    box-shadow: 1px 1px 10px rgb(29, 29, 29);
    border: 7px solid #131b25 !important;
}
.icon-container-1:hover .icon-1{
    text-shadow: 1px 1px 10px rgb(184, 184, 184);
}
.icon-container-2:hover{
    box-shadow: 1px 1px 10px rgb(104, 104, 104);
    border: 7px solid #de0059 !important;
}
.icon-container-2:hover .icon-2{
    text-shadow: 1px 1px 10px rgb(184, 184, 184);
}
.icon-container-3:hover{
    box-shadow: 1px 1px 10px rgb(192, 192, 192);
    border: 7px solid #ffb259 !important;
}
.icon-container-3:hover .icon-3{
    text-shadow: 1px 1px 10px rgb(218, 218, 218);
}
.icon-container-4:hover{
    box-shadow: 1px 1px 10px rgb(146, 146, 146);
    border: 7px solid #b0b2d2 !important;
}
.icon-container-4:hover .icon-4{
    text-shadow: 1px 1px 10px rgb(228, 228, 228);
}
.icon-container i{
    /* font-size: 70px; */
    font-size: 50px;
}


.icon-1{
    color: #131b25 !important;
}

.icon-2{
    color: #de0059;
}
.icon-3{
    color: #ffb259 !important;
    transform: translateX(-10px);
}
.icon-4{
    color:#b0b2d2 !important;
    transform: translateX(-5px);
}
.icons{
    max-width: 73px;
    max-height: 62px;
    text-align: center;
}

.icon-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(47, 47, 47);
}
.icon-text:link{
    text-decoration: none !important;
}

.icon-text-3{
    width: 150%;
    margin: 0 -30px;
}

.icon-text-4{
    width: 110%;
    margin: 0 -7px;
}

/*MODAL DE ICONOS */

.modal-button{
    background-color: white;
    border: 2px solid #103073;
    padding: 2px 13px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.2;
    border-radius: 7px;
    transition: all 0.5s ease;

}


.modal-title{
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(83, 83, 83);
}
.modal-button:hover{
    background-color:#103073;
    color: white;
}


.modal-body .info{
    margin-bottom: 20px;
}

/*transition to 4th section*/
.trans-fourth-sect{
    border-style: none none solid; 
    border-bottom: 1.3px solid #131b253f;
    width: 90%;
    margin: 50px auto 0 auto;
}

/*presentation section*/
.row-container{
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.left{
    width: 50vw;
    position: relative;
}
.text-container-left{
    width: 550px;
    height: 450px;
    background-color:white;
    position: absolute;
    top: 80px;
    right: -80px;
    padding: 30px 50px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif !important;
    box-shadow: 1px 1px 10px rgba(144, 144, 144, 0.233);

}
.text-container-left .title{
    text-transform: uppercase;
    font-size: 30px;
    color: #f00060;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}

.text-container-left .text{
    color: black;
    font-family: 'Enriqueta', serif;    
}
.right img{
    width: 40vw;
    height: 100vh;
    display:block;
    object-fit: cover;
    object-position:center center;
}

/*VISION SECTION*/
.mision_section{
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.mision_section .right-m{
    width: 50vw;
    position: relative;
}
.mision_section .left-m{
    margin-left: 150px;
}
.mision_section .left-m img{
    width: 40vw;
    height: 100vh;
    display:block;
    object-fit: cover;
    object-position:center center;
}

.right-m{
    position: absolute;
    left: -100px;
    top: 40px;
}

.mision-container {
    padding: 30px 40px;
    background-color: white;
    height: 380px;
    box-shadow: 2px 7px 7px rgba(214, 214, 214, 0.191);
}

.mision-container .title{
    text-transform: uppercase;
    font-size: 30px;
    color: #f00060;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}

.mision-container .text{
    color: black;
    font-family: 'Enriqueta', serif; 
    text-align: justify;
}


/*VISION */

.vision-container{
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.top-v{
    position: absolute;
    width: 40vw;
    background-color: white;
    top: -60px;
    left: 100px;
    padding: 20px 40px;
    box-shadow: 1px 9px 10px rgba(80, 80, 80, 0.28);
}

.top-v .title{
    text-transform: uppercase;
    font-size: 30px;
    color: #f00060;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}
.top-v .text{
    color: black;
    font-family: 'Enriqueta', serif;
    text-align: justify;
}
.bottom-v img{
    width: 85vw;
    height: 300px;
    display:block;
    object-fit: cover;
    object-position:center center;
}


/* GALLERY */


.fifth-section{
    margin-top: 30px;
}

.title-gallery{
    text-transform: uppercase;
    font-size: 38px;
    color: #f00060;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.grid { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
    }
.grid img {
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    max-width: 100%;
}
.grid img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
    }

.grid img:nth-child(6) {
    grid-column: span 1/3;
}

.b-r{
    grid-column-start: 4 !important;
    grid-column-end: span 2 !important;
    grid-row-start: 3 !important;
    max-height: 140px;
    width: 100% !important;
    display:block;
    object-fit: cover;
    object-position:center center;
    }

.b-l{
    grid-column-start: 1 !important;
    grid-column-end: span 2 !important;
    grid-row-start: 3 !important;
    max-height: 140px;
    width: 100% !important;
    display:block;
    object-fit: cover;
    object-position:center center;
}
.b-m{
    min-height: 140px;
    display:block;
    object-fit: cover;
    object-position:center center; 
}
.fit-adjust{
    width: 70%;
}
/**************************FOOTER*****************/
footer{
    margin-top: 100px;
    height: 250px;
    background-color: #001736;
}
.footer-wrapper{
    padding-top: 50px;
}
.footer-wrapper .row div img{
    width: 100%v;
    height: 150px;
    display:block;
    object-fit: cover;
    object-position:center center;
}

.uaa-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.uaa-links div{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif !important;
    color: white;
}
.uaa-links div a:link{
    text-decoration: none;
}
.uaa-links div i{
    color: #b0b2d2;
    font-size: 20px;
    
}

.left-text{
    display: block !important;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 10px;
}



/*media querys*/


@media only screen and (max-width: 1600px) {
    .line-div .texto{
        width: 420px;
        font-size:50px;
        top:80px;
        height: 220px !important;

    }
    .subtitle-land{
        font-size: 20px;
        width: 350px;
        font-weight: 500;
        height: auto !important;
        left: 11vw;
    }
    .cta{
        top: 70%;
        left: 30vw;
    }
    .line-div{
        /* padding-right: 150px !important; */
        flex: 0.8 !important;
    }
    .right-m .text{
        padding: 20px 40px;
        line-height: 1.8;
    
    }
}

@media only screen and (max-width: 1400px){
    .line-div .texto{
        transform:skew(15deg) !important;
        font-weight: 600;
        font-family: 'Arvo', serif;
        text-shadow: 1px 1px 3px rgb(128, 128, 128);
    }
    .line-div{
        padding-right: 100px !important;
    }
}

@media only screen and (max-width: 1300px){

    .line-div{
        padding-right: 200px !important;
    }
    .mision-container{
        padding: 20px 30px 30px 30 !important;
    }
    .mision-container .text{
        padding: 10px !important;
    }
}
@media only screen and (max-width: 1200px){
    
    .line-div{
        padding-right: 300px !important;
    }
    .mision-container{
        padding: 10px 10px 10px 10px !important;
    }
    .mision-container .text{
        padding: 5px !important;
    }
}
@media only screen and (max-width: 1050px){
    .line-div{
        /* padding-right: 400px !important; */
        flex:0.9 !important;
        
    }
    .der{
        width: 70vw !important;
    }
    .img-skew{
        margin-left: -100px !important;
    }
    .line-div .texto{
        font-size: 45px;
    }
    .land-section div img{
        width:120% !important;
        height:90%;
        display:block;
        object-fit: cover;
        object-position:center center;
        transform:skew(15deg);
        margin:0 -10%;
    }
    .mision-container{
        padding: 20px !important;
        height: 500px;
    }
    .mision-container .text{
        padding: 5px !important;
    }
}

@media only screen and (max-width: 992px){
    .menu .left{
        order: 1 !important;
        text-align: right;
        margin-right: 10px !important;
    }
}

@media only screen and (max-width: 910px){
    .line-div{
        flex: 1.1 !important;
    }
    .land-section div img{
        width:120% !important;
        height:90%;
        display:block;
        object-fit: cover;
        object-position:center center;
        transform:skew(15deg);
        margin:0 -10%;
    }

    .cta{
        left: 40vw !important;
    }
}

@media only screen and (max-width: 866px){
    .mision-container{
        width: 400px;
    }
}
@media only screen and (max-width: 810px){
    .subtitle-land, .cta{
        overflow-x: visible !important;
    }
    .line-div{
        transform: initial;
        padding: 0 !important;
        text-align: center;
        overflow: visible !important;
        flex: 0.4 !important;
        
    }
    .land-section{
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow: visible !important;
    }
    .land-section div img{
        transform: initial;
    }
    .land-section div {
        transform: initial;
        overflow-y: visible !important;
    }
    .der{
        width: 100vw !important;
        margin: 0 !important;
        padding:0 !important;
    }
    .line-div .texto{
        transform: initial !important;
        position: initial;
        display: initial;
        width: 100%;
        
    }
    .subtitle-land{
        transform: initial !important;
        position: static;
        width: 100%;
        padding: 0;
        max-height: 150px !important;
        min-height: 50px !important;
        margin: 0 !important;
    }
    .cta{
        transform:initial !important;
        top: 70%;
        left: 28vw !important;
    }
}

@media only screen and (max-width: 770px){
    *{overflow-x: hidden !important}
    .text-container-left, .left{
        overflow: visible !important;
    }
    
    .row-container{
        flex-direction: column;
    }

    .text-container-left{
        position: static;
        box-shadow: none;
        width: 90vw;
        padding: 20px;
        height: 100%;
    }

    .right img{
    object-position:center center;
    width: 90vw;
    height: 35vh;
    display:block;
    object-fit: cover;
    object-position:center center;
    margin-top: 20px;
    }

    .text-container-left .text{
        font-size: 15px;
    }

    /*MISION SECTION*/
    .mision_section{
        flex-direction: column-reverse;
    }
    .right-m{
        position: static !important;
        width: 90vw !important;
        margin: 0 auto;
        padding: 10px;
        overflow:visible !important;
        
    }
    .mision-container{
        width: 90vw !important;
        height: 300px;
        overflow: visible !important;
    }

    .left-m{
        margin-left: 50px !important;
    }
    .left-m img{
        width: 90vw !important;
        height: 35vh !important;
        display:block;
        object-fit: cover;
        object-position:center center;
    }
    .vision-container{
        overflow: visible !important;
    }

    .top-v{
        position: static;
        width: 80vw !important;
        margin-left: 0px;
        height: 150px;
        padding: 0;
        box-shadow: none;
        overflow: visible !important;
    }

    .fit-adjust{
        width: 90%;
    }
    .line-div{
        flex: 0.3 !important;
    }
}


@media only screen and (max-width: 710px){
    .line-div{
        flex: 0.2 !important;
    }
    .line-div .texto{
        transform: initial !important;
        position: initial;
        display: initial;
        width: 60%;
        font-size:28px;
        
    }
    .mision-container{
        padding: 0 !important;
    }
}

@media only screen and (max-width: 630px){
    .mision-container{
        padding: 0 !important;
    }
    .cta{
        top: 70%;
        left: 18vw !important;
    }
}


@media only screen and (max-width: 570px){
    .line-div .texto{
        font-size:35px;
    }

    .subtitle-land{
        font-size: 15px;
    }
    .cta{
        top: 70%;
        left: 20vw;
    }
    .land-section{
        flex: 0.2 !important;
    }
    .right-m{
        height: 350px !important;
    }
}

@media only screen and (max-width: 500px){
    .line-div .texto{
        font-size:25px;
    }
    .cta{
        top: 70%;
        left: 12vw;
    }
    .right-m{
        height: 400px !important;
    }
    .left-m{
        margin-left: 20px !important;
    }
}
@media only screen and (max-width: 440px){
    .mision-container{
        height: 400px !important;
    }
}

@media only screen and (max-width: 435px){
    .land-section{
        overflow: hidden !important;
    }
    .mision-container{
        height: 450px !important;
    }
    .mision_section img{
        margin-top: 100px !important;
    }

}

@media only screen and (max-width: 450px){
    .cta{
        font-size: 12px;
        top: 70%;
        left: 16vw;
    }
    .img-skew{
        transform: translateX(100px) !important;
    }
}


@media only screen and (max-width: 380px){
    .menu .left a img{
        height: 60px !important;
        width:180px !important;
        margin-left: 60px !important;
    }
}

@media only screen and (max-width: 390px){
    .cta{
        font-size: 12px;
        top: 70%;
        left: 10vw;
    }
    .img-skew{
        width: 100vw !important;
        transform: translateX(100px) !important;
    }
    .mision-container{
        height: 550px !important;
    }
    .mision_section img{
        margin-top: 190px !important;
    }
}


@media only screen and (max-width: 537px){  
    .menu .left{
        margin-right: 80px !important;
        margin: 0 auto;
    }

}
@media only screen and (max-width: 320px){
    .cta{
        font-size: 12px;
        top: 70%;
        left:20vw;  
        width: 50%;

    }
    .img-skew{
        transform: translateX(100px) !important;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 296px){
    .cta{
        font-size: 12px;
        top: 70%;
        left:20vw;
        width: 50%;

    }

}